<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">funcionarios para revisão</h2>
    </div>
</div>

<hr>    
    <div class="table-responsive">
        <table id="indexTableDESC" class="indexTableDESC display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Projeto</th>
                    <th>Versão</th>
                    <th>Máquina</th>
                    <th>DT Criação</th>
                    <th>Solicitante</th>
                    <th>Status</th>
                    <th class="text-nowrap">Action</th>
                </tr>
            </thead>
            <tbody>
                <% _.each(funcionarios, function(funcionario){ %>
                    <tr>
                        <td><%=funcionario.id%></td>
                        <td><%=funcionario.projeto.nome%></td>
                        <td><%=funcionario.versao.versao%></td>
                        <td><% if(funcionario.maquina){%> <%=funcionario.maquina.nome%><%}%></td>
                        <td><%=moment(funcionario.createdAt).format('DD/MM/YYYY HH:mm')%></td>
                        <td>@<%= funcionario.user.email.substring(0, funcionario.user.email.lastIndexOf("@"))%></td>
                        <td><%=funcionario.status%></td>
                        <td class="text-nowrap">
                            <a href="/funcionario/<%=funcionario.id%>" data-toggle="tooltip" data-original-title="Informações"> <i class="fa fa-info text-inverse m-r-10"></i> </a>
                        </td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>