<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css"/>
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/ponto/create">
    <div class="form-body">
        <h2 class="card-title">Dados Novo Funcionario</h2>
        <h5 class="card-title">formato de h.m</h5>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Funcionario</label>
                    <select id="funcionarioS" name="funcionarioS" class="select2 form-control custom-select"
                        style="width: 100%; height:36px;"required>
                        <option value="" onclick="salvaFuncionarioSelecionado('0')">selecione uma opção!!!</option>
                        <% _.each(funcionario, function(user){ %>
                            <option value="<%=user.id%>"><%=user.nome%>
                            </option>
                            <%})%>
                    </select>
                    <input type="text" id="funcionario" name="funcionario" class="form-control" hidden>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Jornada</label>
                    <input type="text" id="jornada" name="jornada" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="form-group">
                    <label class="control-label">Hora Entrada</label>
                    <input type="number" id="entrada" name="entrada" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Hora Entrada almoco</label>
                    <input type="number" id="ent_almoco" name="ent_almoco" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Hora Saida Almoco</label>
                    <input type="text" id="sai_almoco" name="sai_almoco" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Hora Saida</label>
                    <input type="text" id="saida" name="saida" class="form-control" required>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Salvar</button>
            <a href="/funcionario" class="btn btn-inverse">Cancelar</a>
        </div>

</form>

<script>
    function validaTipoPessoa() {
        var marcado = $('#is_juridica').prop('value');
        if (!marcado || marcado == 'false') {
            document.getElementById("labelcpfcnpj").innerHTML = 'CNPJ';
            $('#is_juridica').prop('value', "true");
        } else {
            document.getElementById("labelcpfcnpj").innerHTML = 'CPF';
            $('#is_juridica').prop('value', "false");
        }
    }

    function salvaFuncionarioSelecionado(){
        alert($('#funcionarioS').prop('value'))
    }
</script>