
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="fa fa-admin bg-c-dark"></i>
                    <div class="d-inline">
                        <h5>Acesso Administrador</h5>
                        <span>Solicitações de Acesso Administrador</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pcoded-inner-content">
        <div class="main-body">

            <div class="page-wrapper">
                <div class="page-body">
                    <div class="card">
                        <div class="card-block">
                            <div class="table-responsive">
                                <table id='indexTableDESC' class="table foo-table footable-filtering-right">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Título</th>
                                            <th>Requisitante</th>
                                            <th>Status</th>
                                            <th>Ticket</th>
                                            <th>Inicio</th>
                                            <th>Fim</th>
                                            <th>Vault</th>
                                            <th>User</th>
                                            <th>Owner</th>
                                            <% if (session && session.user && session.user.is_admin){%>
                                                <th>Ações</th>
                                            <%}%>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% _.each(admins, function(admin){ %>
                                        <tr>
                                            <td><%=admin.id%></a></td>
                                            <td><%=admin.titulo%></a></td>
                                            <td >
                                                <% if(admin && admin.requisitante && admin.requisitante.username ){%>
                                                    <img src="<%=gravatarService.getImage(admin.requisitante.username)%>" width="36px" height="36px" class="img-radius" alt="profile" data-toggle="tooltip" data-original-title="@<%=admin.requisitante.username%>">
                                                <%}else{%>
                                                    Usuário inválido
                                                <%}%>
                                            </td>
                                            <td><%=admin.status%></td>

                                            <td>
                                                <%if (admin && admin.ticket ){%>
                                                    <a target="_blank" rel="noopener noreferrer" href="https://api/projeto/valores/<%=admin.passado%>#requested_items">Open Ticket</a>
                                                <%}%>
                                            </td>

                                            
                                            <td><%=moment(admin.dtinicio,'YYYY-MM-DD HH:mm:ss').format('YYYY-MM-DD HH:mm')%></td>
                                            <td><%=moment(admin.dtfim,'YYYY-MM-DD HH:mm:ss').format('YYYY-MM-DD HH:mm')%></td>
                                            <td><% if( admin && admin.vault && admin.vault.nome ){%> <%=admin.vault.nome%> <%}else{%>Vault excluído<%}%> </td>
                                            <td><% if( admin && admin.account && admin.account.usuario ){%> <%=admin.account.usuario%> <%}else if (admin && admin.usuario_padrao){%>Suporte Admin<%}else{%>Usuário excluído<%}%> </td>
                                            <td>
                                                <% if(admin && admin.owner && admin.owner.username){%>
                                                    <img src="<%=gravatarService.getImage(admin.owner.username)%>" width="36px" height="36px" class="img-radius" alt="profile" data-toggle="tooltip" data-original-title="@<%=admin.owner.username%>">
                                                <%}%>
                                            </td>


                                            <% if (session && session.user && session.user.is_admin){%>
                                                <td>
                                                    <%if (admin.status == 'Pendente'){%>                                                                                                                                                            
                                                        <a  href="#myModal" onclick="callModal(<%=admin.id%>)">
                                                            <i class="icon feather icon-check-circle f-w-600 f-16 m-r-15 text-c-green"></i>
                                                        </a>
                                                    <%}%>
                                                    <a href="/adminrequest/edit/<%=admin.id%>">
                                                        <i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-blue"></i>
                                                    </a>
                                                    <a href="#" onclick="modalDestroy('/adminrequest/destroy/<%=admin.id%>')">
                                                        <i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i>
                                                    </a>
                                                </td>
                                            <%}else{%>
                                                <td>

                                                </td>
                                            <%}%>
                                        </tr>
                                        <%})%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>


            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">                      
                      <h4 class="modal-title" style="margin: auto;">Responder Solicitação</h4>
                    </div>                
                    
                    <div class="modal-body">
                        <form id="contact_form" action="/adminrequest/atualizaSolicitacao" method="POST">
                            <div class="form-group row"> 
                                <div class="col-sm-12">   
                                    <input type="text" readonly id="id" name="id" hidden>  
                                    <input type="text" readonly id="status" name="status" hidden>                                       
                                </div>
                            </div>   
                            <div class="form-group row"> 
                                <div class="col-sm-12">                                   
                                    <textarea  type="text"  class="form-control"  id="mensagem" name="mensagem" placeholder="Mensagem para o solicitante"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-danger"  type="submit" id="submitFormRejeitar" value="Rejeitar" style="    margin-right: auto;">
                        <input class="btn btn-success" type="submit" id="submitFormAprovar" value="Aprovar">
                    </div>                    
                  </div>              
                </div>
              </div>
        </div>
    </div>
</div>
<script>
    function callModal(id) {                    
        $('#myModal #id').val(id);
        $('#myModal').modal('show');
    }
    $("#submitFormRejeitar").on('click', function() {
        $('#myModal #status').val("Rejeitado");
        $("#contact_form").submit();        
    });
    $("#submitFormAprovar").on('click', function() {
        $('#myModal #status').val("Aprovado");
        $("#contact_form").submit();        
    });

    // For DataTable - DESC
	$(document).ready(function() {
        var table = $('#indexTableDESC').DataTable({
            "order": [
                [0, 'desc']
            ],                          
        });
    });
    
</script>