<script src="/plugins/moment/moment.js"></script>
<link href="/plugins/nestable-2/nestable.css" rel="stylesheet" type="text/css" />
<script src="/plugins/nestable-2/jquery.nestable.js"></script>
<form id="form" action="/Funcionario/create">
    <div class="form-body">
        <h2 class="card-title">Dados Novo Funcionario</h2>
        <hr>
        <div class="row p-t-20">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Nome Completo</label>
                    <input type="text" id="nome" name="nome" class="form-control" required>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                   <label class="control-label"></label>
                    <div class="switch">
                    <label>Jurídica
                        <input type="checkbox" id="is_juridica" name="is_juridica" onclick="validaTipoPessoa()" value="false">
                        <span class="lever"></span>
                        </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group">
                    <label id="labelcpfcnpj" name="labelcpfcnpj" class="control-label">CPF</label>
                    <input type="number" id="cpfcnpj" name="cpfcnpj" class="form-control" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Rua</label>
                    <input type="text" id="rua" name="rua" class="form-control" required>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Numero</label>
                    <input type="number" id="numero" name="numero" class="form-control" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Bairro</label>
                    <input type="text" id="bairro" name="bairro" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Cidade</label>
                    <input type="text" id="cidade" name="cidade" class="form-control" required>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Estado (UF)</label>
                    <input type="text" id="estado" name="estado" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">País</label>
                    <input type="text" id="pais" name="pais" class="form-control" required>
                </div>
            </div>
            
            <div class="col-md-4" id="c_caixa" >
                <div class="form-group">
                    <label class="control-label">Complemento</label>
                    <input type="text" id="complemento" name="complemento" class="form-control">
                </div>
            </div>
        </div>
        
    </div>

    <div class="form-body">

        <div class="row p-t-20">
            <div class="col-md-6">
                <h2 class="card-title">Dados Banco recebimento</h2>
                
            </div>
        </div>

        <hr>
        <div class="row p-t-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Banco</label>
                    <input type="text" id="banco" name="banco" class="form-control" required>
                </div>
            </div>            
            <div class="col-md-2">
                <div class="form-group">
                    <label id="labelcpfcnpj" name="labelcpfcnpj" class="control-label">Agencia</label>
                    <input type="number" id="agencia" name="agencia" class="form-control" required>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Conta</label>
                    <input type="number" id="conta" name="conta" class="form-control" required>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Operacao</label>
                    <input type="number" id="operacao" name="operacao" class="form-control" required>
                </div>
            </div>   
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label">Valor Hora</label>
                    <input type="number" id="valor_hora" name="valor_hora" class="form-control" required>
                </div>
            </div>           
        </div>        
        <hr>
        <div class="form-actions">
            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Salvar</button>
            <a href="/ocorrencias" class="btn btn-inverse">Cancelar</a>
        </div>

    </div>

</form>
<script>
    function validaTipoPessoa() {   
   var marcado =  $('#is_juridica').prop('value');
      if ( !marcado || marcado == 'false'){
          document.getElementById("labelcpfcnpj").innerHTML ='CNPJ';
         $('#is_juridica').prop('value', "true");
      } else {
        document.getElementById("labelcpfcnpj").innerHTML ='CPF';
        $('#is_juridica').prop('value', "false");
      }
}
</script>