<div class="row p-t-20">
    <div class="col-md-6">
        <h2 class="card-title">Funcionarios</h2>
    </div>
    <div class="col-md-6" style="text-align: right;" >
        <a href="/funcionario/new" class="btn btn-success">Novo</a>
    </div>
</div>

<hr>

<form method="GET" action="/funcionario">
<div class="row p-t-20">
    <div class="col-md-2">
        <h3 class="card-title">Empregado</h3>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <select id="user" name="user" onchange="this.form.submit()" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                <%if (!userSelect) { %>
                    <option value="0" selected>Selecione um funcionario!!</option>  
                <%}%>
                <% _.each(usuarios, function(user){ %>
                    <% if (userSelect == user.id){%>
                        <option value="<%=user.id%>" selected><%=user.nome%></option>    
                    <%} else {%>    
                        <option value="<%=user.id%>"><%=user.nome%></option>
                    <%}%>
                <%})%>
            </select>
        </div>
        <div class="form-group">
            <%if (salario) {%>
                <label class="control-label">Salário mensal atual: R$ <%=salario%></label>
            <%}%>
        </div>
    </div>
</div>
</form>
<hr></hr>